# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Virtualenv
venv/
.venv/

# IDEs and editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
